@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Estilos para celulares com largura de tela menor que 36rem */
@media (max-width: 35.9988rem) {
    /* Estilos para dispositivos móveis */
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .contact-info {
          display: flex;
          flex-direction: column;
          margin: auto;
          gap: px;
          font-family: 'Lato', sans-serif;
          font-size: 1.125rem;
          margin-bottom: 1.25rem;
      }
      
      .contact-info > div svg {
          font-size: 1.25rem;
          color: rgb(255, 3, 184);
          padding-right: 0.625rem;
      }
      
      .social-media {
        display: flex;
        justify-content: center;
        gap: 0.9375rem;
      }
      
      .social-media > a svg {
        color: rgb(255, 3, 184);
        padding-top: 1.25rem;
      }
      
      .assignature {
          display: flex;
          justify-content: center;
          padding: 0.625rem;
          color:hotpink;
          font-size: 1.125rem;
          font-family: 'Lato', sans-serif;
          color: black;
      }
  }
  
  /* Estilos para dispositivos com tela maior que 36rem e menor que 48rem */
  @media (min-width: 36rem) and (max-width: 47.9988rem) {
    /* Estilos para dispositivos móveis e tablets em modo retrato */
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .contact-info {
          display: flex;
          flex-direction: column;
          margin: auto;
          gap: 0.75rem;
          font-family: 'Lato', sans-serif;
          font-size: 1.125rem;
          margin-bottom: 1.25rem;
      }
      
      .contact-info > div svg {
          font-size: 1.25rem;
          color: rgb(255, 3, 184);
          padding-right: 0.625rem;
      }
      
      .social-media {
        display: flex;
        justify-content: center;
        gap: 0.9375rem;
        padding-top: 40px;
      }
      
      .social-media > a svg {
        color: rgb(255, 3, 184);
        padding-top: 1.25rem;
      }
      
      .assignature {
          display: flex;
          justify-content: center;
          padding: 0.625rem;
          color:hotpink;
          font-size: 1.125rem;
          font-family: 'Lato', sans-serif;
      }
  }
  
  /* Estilos para dispositivos com tela maior que 48rem e menor que 62rem */
  @media (min-width: 48rem) and (max-width: 61.9988rem) {
    /* Estilos para tablets em modo paisagem e dispositivos móveis com tela maior */
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .contact-info {
          display: flex;
          flex-direction: column;
          margin: auto;
          gap: 0.75rem;
          font-family: 'Lato', sans-serif;
          font-size: 1.125rem;
          margin-bottom: 1.25rem;
      }
      
      .contact-info > div svg {
          font-size: 1.625rem;
          color: rgb(255, 3, 184);
          padding-right: 0.625rem;
      }
      
      .social-media {
        display: flex;
        justify-content: center;
        gap: 0.9375rem;
      }
      
      .social-media > a svg {
        color: rgb(255, 3, 184);
        padding-top: 1.25rem;
      }
      
      .assignature {
          display: flex;
          justify-content: center;
          padding: 0.625rem;
          color:hotpink;
          font-size: 1.25rem;
          font-family: 'Lato', sans-serif;
      }
  }
  
  /* Estilos para dispositivos com tela maior que 62rem e menor que 75rem */
  @media (min-width: 62rem) and (max-width: 74.9988rem) {
    /* Estilos para dispositivos maiores, como laptops */
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .contact-info {
          display: flex;
          flex-direction: column;
          margin: auto;
          gap: 1.25rem;
          font-family: 'Lato', sans-serif;
          font-size: 1.25rem;
          margin-bottom: 1.25rem;
      }
      
      .contact-info > div svg {
          font-size: 1.625rem;
          color: rgb(255, 3, 184);
          padding-right: 0.625rem;
      }
      
      .social-media {
        display: flex;
        justify-content: center;
        gap: 0.9375rem;
      }
      
      .social-media > a svg {
        color: rgb(255, 3, 184);
        padding-top: 1.25rem;
      }
      
      .assignature {
          display: flex;
          justify-content: center;
          padding: 0.625rem;
          color:hotpink;
          font-size: 1.25rem;
          font-family: 'Lato', sans-serif;
      }
  }
  
  /* Estilos para dispositivos com tela maior que 75rem */
  @media (min-width: 75rem) {
    /* Estilos para dispositivos maiores, como desktops */
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .contact-info {
          display: flex;
          flex-direction: column;
          margin: auto;
          gap: 1.25rem;
          font-family: 'Lato', sans-serif;
          font-size: 1.375rem;
          margin-bottom: 1.25rem;
      }
      
      .contact-info > div svg {
          font-size: 1.875rem;
          color: rgb(255, 3, 184);
          padding-right: 0.625rem;
      }
      
      .social-media {
        display: flex;
        justify-content: center;
        gap: 1.5625rem;
        padding-top: 1.25rem;
      }
      
      .social-media > a svg {
        color: rgb(255, 3, 184);
      }
      
      .assignature {
          display: flex;
          justify-content: center;
          padding: 1.25rem;
          font-size: 1.25rem;
          font-family: 'Lato', sans-serif;
          color:hotpink;
        
    }
      }
  
  